@font-face {
  font-family: "Press Start";
  src: local("Press Start 2P"), url("../fonts/PressStart2P-Regular.ttf");
}

@font-face {
  font-family: "Revx";
  src: url("../fonts/RevxNeue-Regular.ttf");
}

@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/RobotoMono-VariableFont_wght.ttf");
}
