/* 
* designed by tysonlmao.dev 
* bran global styles
*/
:root {
  --base-padding: 2rem;
  --base-radius: 10px;
  --admin-red: #ff204e;
  --admin-green: #90d26d;
}

html {
  height: 100%; /* Ensure html takes full browser height */
  scroll-behavior: smooth;
}

body {
  min-height: 100%; /* Minimum height is full viewport height */
  margin: 0 auto; /* Remove default margin */
  padding: var(--base-padding);
  color: var(--default-accent);
  /* ultrawide enjoyers */
  max-width: 2160px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

a {
  color: var(--default-accent) !important;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

/* Specific styles for login page */
.login-page .login-form {
  width: 350px;
  margin: 0 auto;
  margin-top: 50px;
}

.login-form > * {
  margin-bottom: 0.5rem;
  width: 100%;
}

/* Form elements styling */
input {
  border: 2px solid var(--default-accent);
  border-radius: var(--base-radius);
  background-color: unset;
  padding: 0.3rem;
  color: var(--default-accent);
}

.form-control {
  background-color: unset;
}

input[type="submit"] {
  background-color: var(--default-accent);
  color: black;
  border: none;
}

.logo {
  max-width: 250px; /* Logo size specifically for the login page */
}

.logo-sm {
  max-width: 75px;
}

.text-header {
  color: var(--default-accent);
  font-family: "Press Start", system-ui !important;
  font-size: 3rem;
}

.info {
  font-family: "Revx", system-ui !important;
  font-size: 1.5rem;
}

.vh80 {
  min-height: 80vh;
}

/* ui elements */
.window {
  border: 3px solid var(--default-accent);
  min-height: 450px;
  padding: 2rem;
  border-radius: 1rem;
}

.leaderboard {
  font-family: "Press Start" !important;
  font-size: 1.5rem;
  overflow: scroll;
}

table.leaderboard {
  width: 100%; /* Full width */
  border-collapse: collapse; /* No space between borders */
}

.ui {
  font-family: "Revx", system-ui;
  margin-bottom: 0.25rem;
}

.ui-title {
  font-size: 2rem;
}

.ui-subtitle {
  font-size: 1.5rem;
}

/*
* bootstrap overrides
* yes i know theres probably a better way of doing this
*/
.navbar-brand {
  color: var(--default-accent);
  font-family: "Press Start", system-ui !important;
  font-size: 1.5rem;
}

.navbar-brand:hover {
  color: inherit;
}

.nav-link {
  font-family: "Roboto Mono", system-ui !important;
  font-size: 1.25rem;
}

.nav-tabs .nav-link {
  border: unset;
  margin: unset;
  padding: unset;
  border-radius: unset;
}

.alert-danger {
  border: none;
  background-color: var(--admin-red);
}

/* modal css bs5 */
.modal-content {
  border: 3px solid var(--default-accent);
  border-radius: 0;
}

.modal-body,
.modal-header,
.modal-footer {
  border: none !important;
}

.modal-title {
  font-family: "Press Start", system-ui !important;
}

.btn-justtext {
  color: var(--default-accent);
  font-family: "Press Start", system-ui;
  font-size: 1.5rem;
  background-color: unset;
  border: unset;
}
.dropdown-menu {
  background-color: var(--default-accent);
  border: unset;
}
