/* 
* designed by tysonlmao.dev 
* bran global styles
*/
:root {
    --default-background: #000;
    --color-secondary: #8ACDD7;
    --default-button-color: #FFADCF;
    --default-button-text-color: #000;
    /* --default-accent: #FF90BC; now pulled from database*/
    --base-padding: 2rem;
    --base-radius: 10px;
    --alert-danger-color: #FF204E;
}

html {
    height: 100%;  /* Ensure html takes full browser height */
    scroll-behavior: smooth;
}

body {
    min-height: 100%;     /* Minimum height is full viewport height */
    margin: 0 auto;            /* Remove default margin */
    padding: var(--base-padding);
    background-color: var(--default-background);
    color: var(--default-accent);
    /* ultrawide enjoyers */
    max-width: 2160px;
}


h1, h2, h3, h4, h5, h6, p, span {
    margin: 0;
}

a {
    color: var(--default-accent) !important;
    text-decoration: none;
}

a:hover {
    color: inherit;
}

/* Specific styles for login page */
.login-page .login-form {
    width: 350px;
    margin: 0 auto;
    margin-top: 50px;
}

.login-page .login-form > * {
    margin-bottom: 0.5rem;
    width: 100%;
}

/* Form elements styling */
.login-page input {
    border: 2px solid var(--default-accent);
    border-radius: var(--base-radius);
    background-color: unset;
    padding: 0.3rem;
    color: var(--default-accent);
}

.login-page input[type='submit'], .login-page button {
    background-color: var(--default-accent);
    border: none;
    color: var(--default-button-text-color);
}

.logo {
    max-width: 250px; /* Logo size specifically for the login page */
}


.text-header {
    color: var(--default-accent);
    font-family: "Press Start", system-ui !important;
    font-size: 3rem;
}

.info {
    font-family: "Revx", system-ui !important;
    font-size: 1.5rem;
}

.vh80 {
    min-height: 80vh;
}

/* ui elements */
.window {
    border: 3px solid var(--default-accent);
    margin: 0 1rem 0 1rem;
    padding: 2rem;
    border-radius: 1rem;
}

.ui {
    font-family: "Revx", system-ui;
    margin-bottom: 0.25rem;
}

.ui-title {
    font-size: 2rem;
}

.ui-subtitle {
    font-size: 1.5rem;
}

/*
* bootstrap overrides
* yes i know theres probably a better way of doing this
*/
.navbar-brand {
    color: var(--default-accent);
    font-family: "Press Start", system-ui !important;
    font-size: 1.5rem;
}


.navbar-brand:hover {
    color: inherit;  
}

.nav-link {
    font-family: "Press Start", system-ui !important;
    color: var(--color-secondary);
    font-size: 1.25rem;
}

.alert-danger {
    border: none;
    background-color: var(--alert-danger-color);
}
